<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Case 123456</title>
</head>

<body>
    <h1>The title of the test case [123456]</h1>

    <textarea name="comment" placeholder="Comment..." style="min-width: 50%; min-height: 100px" id="commentInput">
        The test case if failing because of bla-bla-bla.

        Supposed to be a simple comment without any rich features. Should I make it 
    </textarea>
    <p>
        <button onclick="saveComment()">Update comment</button>
        <span id="successMsg" style="color: limegreen; display: none;">Successfully saved</span>
        <span id="errorMsg" style="color: red; display: none;">Error!</span>
    </p>
    <hr>
    <p>
        Duration: 500ms
    </p>
    <p>
        <h3>Execution log</h3>
        <pre style="margin-left: 3%">
+0s - *Step* - Open a new browser window/tab
+0s - *Verification* - New Browser window table should be opened
+0s - *Step Id* - 2
+0s - *Step* - Navigate to AdminPortal URL of QA environment
+0s - *Sub-Step* - Navigate to login page
+0.105s - *Sub-Step* - Navigating to https://eman-qana3.responsetek.io/AdminPortal
+0.123s - *Sub-Step* - Admin URL: https://eman-qana3.responsetek.io/AdminPortal
+0.123s - *Verification* - AdminPortal login page should be shown
+0.124s - *Sub-Verification* - Login page for admin login portal is displayed
+120.137s - *Step Id* - 3
+120.137s - *Step* - Fill the credentials using the credentials you have fetched from precondition click Login
+120.15s - *Verification* - you should be logged to AdminPortal of QA Environment and AdminPortal home page should be shown
+120.15s - *Sub-Verification* - Login page for administration interface is displayed.
        </pre>
    </p>
    <script>
        const vscode = {
            postMessage: console.log
        };
        function saveComment() {
            let comment = document.getElementById('commentInput').value;
            vscode.postMessage({ command: 'commentUpdate', text: comment.trim() });
        }
    </script>
</body>

</html>